<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CalculadoraJuros.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CalculadoraJuros.Properties.Settings>
            <setting name="x2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x3" serializeAs="String">
                <value>3.9</value>
            </setting>
            <setting name="x4" serializeAs="String">
                <value>6.9</value>
            </setting>
            <setting name="x5" serializeAs="String">
                <value>8.21</value>
            </setting>
            <setting name="x6" serializeAs="String">
                <value>9.21</value>
            </setting>
            <setting name="x7" serializeAs="String">
                <value>9.85</value>
            </setting>
            <setting name="x8" serializeAs="String">
                <value>10.8</value>
            </setting>
            <setting name="x9" serializeAs="String">
                <value>11.65</value>
            </setting>
            <setting name="x10" serializeAs="String">
                <value>12.46</value>
            </setting>
            <setting name="x11" serializeAs="String">
                <value>13.3</value>
            </setting>
            <setting name="x12" serializeAs="String">
                <value>14.2</value>
            </setting>
            <setting name="debito" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="pix" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ultima" serializeAs="String">
                <value>01/01/2024 12:00:00</value>
            </setting>
            <setting name="x1" serializeAs="String">
                <value>0</value>
            </setting>
        </CalculadoraJuros.Properties.Settings>
    </userSettings>
</configuration>